<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Glowing Umbrella</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="icon" href="static/umbrella.png" type="image/png">
    <!--Umbrella by Verve-s from the Noun Project-->
    <style>
      body {
        font-family: 'Lato', sans-serif;
      }
      html {
        background: url("static/climate-change.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <div class="w3-container">
			<div class="w3-card-4 w3-white w3-container w3-content w3-center w3-padding-xxlarge" style="max-width:500px; margin-top:100px;">
        <form>
          <div class="w3-container w3-half">
						<input class="w3-input w3-border" type="text" name="zip" placeholder="Zip Code" required><br>
					</div>
					<div class="w3-container w3-half">
						<input class="w3-input w3-border" type="text" name="country" placeholder="Country" required><br>
					</div>
          <button class="w3-btn-block w3-green" type="submit" name="submit" value="sub">Find temperatures</button>
        </form>
        <p>current temperature at your location: {{temperature}}&deg;F</p>
        {% if tempAvg2016 != "" %}
        <p>2016 temperature at your location: {{tempAvg2016}}&deg;F</p>
        {% endif %}
        {% if tempAvg2015 != "" %}
        <p>2015 temperature at your location: {{tempAvg2015}}&deg;F</p>
        {% endif %}
        {% if tempAvg2014 != "" %}
        <p>2014 temperature at your location: {{tempAvg2014}}&deg;F</p>
        {% endif %}
        {% if tempAvg2013 != "" %}
        <p>2014 temperature at your location: {{tempAvg2013}}&deg;F</p>
        {% endif %}
        {% if tempAvg2012 != "" %}
        <p>2012 temperature at your location: {{tempAvg2012}}&deg;F</p>
        {% endif %}
        {% if tempAvg2011 != "" %}
        <p>2011 temperature at your location: {{tempAvg2011}}&deg;F</p>
        {% endif %}
        {% if tempAvg2010 != "" %}
        <p>2010 temperature at your location: {{tempAvg2010}}&deg;F</p>
        {% endif %}
        {% if tempAvg2005 != "" %}
        <p>2005 temperature at your location: {{tempAvg2005}}&deg;F</p>
        {% endif %}
        {% if tempAvg2000 != "" %}
        <p>2000 temperature at your location: {{tempAvg2000}}&deg;F</p>
        {% endif %}

        <p>{{info}}</p><br>

        <p>{{msg}}</p>

        <button class="w3-btn-block w3-green" type="submit" name="information" value="information">Get other information</button>

      </div>
    </div>
  </body>
</html>
