<!DOCTYPE html>
<html lang ="en">
  <head>

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="icon" href="static/umbrella.png" type="image/png">
    <!--Umbrella by Verve-s from the Noun Project-->
    <style>
      body {
        font-family: 'Lato', sans-serif;
        position: relative;
      }
      html {
        background: url("static/climate-change.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type=text/javascript>


      var currentLocation = [];

			function getLocation() {

				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showPosition);
          console.log("getting position")
				} else {
					console.log("Geolocation not supported by your browser");
				}
			}


			var showPosition = function(coord){
        alert("showpostionpls")
				currentLocation=[];
				currentLocation.push(coord.coords.latitude);
				currentLocation.push(coord.coords.longitude);
        alert(currentLocation);
				//alert("showPosition" + currentLocation);
				//alert(currentLocation[0]);
				//alert(currentLocation[1]);
        console.log("javascript testing")
        console.log(currentLocation)

        $.ajax({
          type: "POST",
          url: "home",
          data: currentLocation,
          success: function(data, textStatus) {
              alert("success!")
              console.log("AJAX TESTING")
          }
        });

        /*
        $.post( "/climate", {
          javascript_data: [35,139]
        });

        $.post( "/home", {
          javascript_data: [35,139]
        });
        */
			}


      $("#imHere").click(getLocation);




    </script>

    <title>Glowing Umbrella</title>
  </head>
  <body>
    <!--<div class="w3-display-container">-->
      <div class="w3-container w3-content w3-display-container" style="margin-top:150px;">
        <form method="get">
          <button id="imHere" value="sub" class="w3-btn w3-round w3-red w3-hover-green w3-padding-xlarge w3-xxlarge w3-display-middle" onclick="getLocation()" type="submit" name="submit"><b>I'm here!</b></button>
        </form>
      </div>
    <!--</div>-->
  </body>
</html>
